.dashboard-screen{
    padding: 2rem;
}

.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.customers, .orders, .vehicles{
    margin-top: 2rem;
}