.header{
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header .list{
    display: flex;
} 

.header .list__item, .button{
    margin-right: 0.8rem;
}


