.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.list{
    display: flex;
}

.item, .btn{
    margin-right: 1rem;
}

.btn{
    padding: 0.5rem;
    border: none;
    
}