.vehicle{
    height: 55vh;
    width: 21vw;
    margin: 1rem;
    box-shadow: -1px 2px 23px 9px rgba(0,0,0,0.73);
-webkit-box-shadow: -1px 2px 23px 9px rgba(0,0,0,0.73);
-moz-box-shadow: -1px 2px 23px 9px rgba(0,0,0,0.73);
}

.vehicle .img{
    height: 50%;
}

.vehicle .info{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}

.vehicle .info .price{
    color: goldenrod;
}


.vehicle .info .buttons{
    display: flex;
    justify-content: space-evenly;
}

.vehicle .info .buttons > *{
    margin-right: 0.4rem;
}


